{% extends 'main.html' %}

{% block content %}

{% include 'submain.html' %}

<!-- Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">

        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Please Confirm Delete</h5>
                  <p class="card-text">Are you sure you want to delete {{customer.name}}?</p>
                  <form action="{% url 'deletecustomer' customer.id %}" method="POST">
                      {% csrf_token %}
                      <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
                      <input type="submit" value="Delete" class="btn btn-danger">
                  </form>
                </div>
              </div>
            </div>
          </div>
          
    </div>
    </main>
    <!--Main layout -->

{% endblock %}